@import "../../vars.scss";
h1 {
  color: $text-color;
  //   text-shadow: 5px 5px 10px rgba(226, 211, 226, 0.4);
}

.header {
  height: 30vh;
  width: 46vw;
  margin: 2rem auto;
  display: flex;
  place-content: center;
  align-items: center;
  background: linear-gradient(90deg, #cecccc 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #cecccc 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #cecccc 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #cecccc 50%, transparent 0) repeat-y;
  background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
}

.header:hover {
  animation: linearGradientMove 0.3s infinite linear;
}

@keyframes linearGradientMove {
  100% {
    background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}
